footer{
    padding: 25px 65px;
    background-color: #0C3322 ;
    display: flex;
    justify-content: space-between;
}
.left-content .footer-icon{
    margin-right: 30px;
    color: #ffffff;
    font-size: 25px;
}
.right-content{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.right-content .certified,.fa-copyright{
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
}